<script>
var toogleSystemNames = function(tid){
    var checked = $('#showtext'+tid).prop('checked');
    $('#t'+tid+' text').toggle(checked);
}

var pointsHash = {}
var getOrCalc = function(adm){
  if( !pointsHash[adm] ){

      if(adm==0){
          var r1 = 4.0, r2 = 9, desc = "",
              a0 = Math.PI/6*1.5,
              a1 = Math.PI/6*2.0,
              a2 = Math.PI/6*2.5,
              a3 = Math.PI/6*3.0,
              a4 = Math.PI/6*3.5,
              a5 = Math.PI/6*4.0,
              a6 = Math.PI/6*4.5;

          points=[
            [{x: r1 * Math.cos(a0), y: r1 * Math.sin(a0)},
             {x: r2 * Math.cos(a0), y: r2 * Math.sin(a0)}],

            [{x: r1 * Math.cos(a1), y: r1 * Math.sin(a1)},
             {x: r2 * Math.cos(a1), y: r2 * Math.sin(a1)}],

            [{x: r1 * Math.cos(a2), y: r1 * Math.sin(a2)},
             {x: r2 * Math.cos(a2), y: r2 * Math.sin(a2)}],

            [{x: r1 * Math.cos(a3), y: r1 * Math.sin(a3)},
             {x: r2 * Math.cos(a3), y: r2 * Math.sin(a3)}],

            [{x: r1 * Math.cos(a4), y: r1 * Math.sin(a4)},
             {x: r2 * Math.cos(a4), y: r2 * Math.sin(a4)}],

            [{x: r1 * Math.cos(a5), y: r1 * Math.sin(a5)},
             {x: r2 * Math.cos(a5), y: r2 * Math.sin(a5)}],

            [{x: r1 * Math.cos(a6), y: r1 * Math.sin(a6)},
             {x: r2 * Math.cos(a6), y: r2 * Math.sin(a6)}]

          ]
          $.each(points, function(i,el){
            desc = desc + "M "+el[0].x+" "+el[0].y+" L "+el[1].x+" "+el[1].y+" ";
          });

      }else{
          var r1 = 4.0,
              r2 = 4.0 + 2.0 + adm * 1.5,
              desc = "";
          points=[
            {x: 0, y: r1},
            {x: r1 * Math.cos( Math.PI/6 ), y: r1 * Math.sin( Math.PI/6 )},
            {x: r2 * Math.cos( Math.PI/6 ), y: r2 * Math.sin( Math.PI/6 )},
            {x: 0, y: r2},
            {x: r2 * Math.cos( 5*Math.PI/6 ), y: r2 * Math.sin( 5*Math.PI/6 )},
            {x: r1 * Math.cos( 5*Math.PI/6 ), y: r1 * Math.sin( 5*Math.PI/6 )},
            {x: 0, y: r1}
          ]
          $.each(points, function(i,el){
            if(i==0){
              desc = "M "+el.x+" "+el.y+" ";
            }else{
              desc = desc + "L "+el.x+" "+el.y+" ";
            }
          });
      }



      pointsHash[adm] = desc;
  }
  return pointsHash[adm];
}

var getOwnerOnDate = function(owners, date){
  for(index in owners){
      var own = owners[index]
      if(own.d1 < date && date <= own.d2){
         return own;
      }
  }
  return null;
}

var participants = {
{% for aid, participants in map.participants.items %}
  {{aid}}: [
    {% for participant in participants %}
    { pid:{{participant.pid}}, name:'{{participant.name}}', d1:'{{participant.d1 | date:'Y-m-d H:i:s'}}', d2:'{{participant.d2 | date:'Y-m-d H:i:s'}}', color: '{{participant.color}}' }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]{% if not forloop.last %},{% endif %}
{% endfor %}
}

var getParticipant = function(aid, date){
  values = participants[aid]
  if(values){
      for(index in values){
          var p = values[index]
          if(p.d1 < date && date <= p.d2){
             return p;
          }
      }
  }
  return null;
}

var ownership = {
{% for sid, owns in map.ownership.items %}
'{{sid}}': [
  {% for own in owns %}{m:{{own.m}},aid:{{own.aid}},d1:'{{own.d1 | date:'Y-m-d H:i:s'}}',d2:'{{own.d2 | date:'Y-m-d H:i:s'}}'}{% if not forloop.last %},{% endif %}{% endfor %}
]{% if not forloop.last %},{% endif %}
{% endfor %}
};


var setStyle = function(el, desc, fill, opacity, stroke, dasharray){
    el.attr('d', desc );
    el.attr('fill', fill);
    el.attr('fill-opacity', opacity);
    el.attr('stroke', stroke);
    el.attr('stroke-opacity', opacity + (1.0 - opacity)/3.0 );
    if(dasharray){
        el.attr('stroke-dasharray', dasharray);
    }
}

var showOwnership = function(){
  var sDate = $('#date').val();
  for(k in ownership){
      var values = ownership[k],
          owner = getOwnerOnDate(values,sDate),
          el = $("."+k);

      if(owner == null){
          el.attr('d', '' );
      }else{
          var participant = getParticipant(owner.aid, sDate),
              desc = getOrCalc(owner.m);
          if(participant){
              setStyle(el, desc, participant.color, 0.5, participant.color)
          }else{
              setStyle(el, desc, "url(#diagonalHatch)", 0.5, '#808080')
          }
      }
  }
}

var showDiffOwnership = function(){
    var sDate1 = $('#date1').val(),
        sDate2 = $('#date2').val();

    $('svg text').toggle(false);

    for(k in ownership){
        var values = ownership[k],
            owner1 = getOwnerOnDate(values,sDate1),
            owner2 = getOwnerOnDate(values,sDate2),
            el = $("."+k),
            participant1 = null,
            participant2 = null;

        if(owner1 != null ){ participant1 = getParticipant(owner1.aid, sDate1); }
        if(owner2 != null ){ participant2 = getParticipant(owner2.aid, sDate2); }

        if(owner1 != null && owner2 == null){
            var desc = getOrCalc(owner1.m);
            if(participant1==null){
                setStyle(el, desc, "url(#tilePatternX)", 0.5, '#808080', '2 2');
            }else{
                setStyle(el, desc, "url(#tilePattern"+participant1.pid+")", 0.5, participant1.color, '2 2');
            }
            $('.'+k.slice(0,k.length-1)+'text').toggle(true);
        }else if(
            owner1 == null && owner2 != null ||
            (
                owner1 != null && owner2 != null && (
                    participant1==null && participant2!=null ||
                    participant1!=null && participant2==null ||
                    participant1!=null && participant2!=null && participant1.pid != participant2.pid
                )
            )
        ){
            var desc = getOrCalc(owner2.m);
            if(participant2==null){
                setStyle(el, desc, "#808080", 0.5, '#808080');
            }else{
                setStyle(el, desc, participant2.color, 0.5, participant2.color);
            }
            $('.'+k.slice(0,k.length-1)+'text').toggle(true);
        }else{
            el.attr('d', '' );
        }

    };


}

$(function(){
    var date = new Date()
        date1 = new Date(date);

    date1.setDate(date1.getDate() - 7);

    $('#date').val(date.toISOString().split('T').join(' ').split('.')[0]);
    $('#date1').val(date1.toISOString().split('T').join(' ').split('.')[0]);
    $('#date2').val(date.toISOString().split('T').join(' ').split('.')[0]);
    showOwnership();

    {% for tid, tinfo in map.territories.items %}
    $('#timeline{{tid}}').highcharts({
        chart: { type: 'line' },
        title: null,
        subtitle: null,
        xAxis: {
            type: 'datetime',
            title: { text: 'Date'}
        },
        yAxis: {
            title: { text: 'Sov Power' },
            min: 0
        },
        tooltip: { enabled: false },
        plotOptions: {
            line: {
                enableMouseTracking: false,
                animation: false,
                marker: { enabled: false }
            }
        },
        series: [
            {% for pid, pinfo in tinfo.powers.items %}
            {
                name: "{{pinfo.name}}",
                color: "{{pinfo.color}}",
                data:[
                    {% for d in pinfo.data %}[{{d.date}}, {{d.adm}}]{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    });
    {% endfor %}

});

</script>