{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<script>
$(function(){
  var participants = {
    {% for participant in map.war.participant_set.all %}
      {{participant.id}}: {name: '{{participant.name}}', color: '{{participant.color}}'}{% if not forloop.last %},{% endif %}
    {% endfor %}
  }

  var ownership = {
    {% for sid, owns in map.ownership.items %}
    '{{sid}}': [
      {% for own in owns %}{m:{{own.m}},pid:{{own.pid}},d1:'{{own.d1 | date:'Y-m-d H:i:s'}}',d2:'{{own.d2 | date:'Y-m-d H:i:s'}}'}{% if not forloop.last %},{% endif %}{% endfor %}
    ]{% if not forloop.last %},{% endif %}
    {% endfor %}
  };

  var r1=3, r2=9;

  var points=[
    {x: 0, y: r1},
    {x: r1 * Math.cos( Math.PI/6 ), y: r1 * Math.sin( Math.PI/6 )},
    {x: r2 * Math.cos( Math.PI/6 ), y: r2 * Math.sin( Math.PI/6 )},
    {x: 0, y: r2},
    {x: r2 * Math.cos( 5*Math.PI/6 ), y: r2 * Math.sin( 5*Math.PI/6 )},
    {x: r1 * Math.cos( 5*Math.PI/6 ), y: r1 * Math.sin( 5*Math.PI/6 )}
  ];

  var desc = "";

  $.each(points, function(i,el){
    if(i==0){
      desc = "M "+el.x+" "+el.y+" ";
    }else{
      desc = desc + "L "+el.x+" "+el.y+" ";
    }
  });

  for(k in ownership){
    values = ownership[k];
    last = values[values.length-1];

    el = $("#"+k)
    if(last.pid){
      part = participants[last.pid];
      el.attr('d', desc);
      el.attr('fill', part.color);
      el.attr('fill-opacity', 0.5);
    }else{
      el.attr('d', desc);
      el.attr('fill', "#DDDDDD");
      el.attr('fill-opacity', 0.5);
    }
  };


});
</script>

<h4><a href="{% url 'cwo:war_index' %}">Wars</a> / {{ map.war.name }} / Powers & Maps</h4>

<h3>Participants</h3>
    {% for participant in map.war.participant_set.all %}
    <ul class="participant">
        <li style="color:{{participant.color}}"><b>{{participant.name}}</b></li>
        <ul>
            {% for alliance in participant.info.alliances %}
            <li style="color:{{participant.color}}">{{alliance.alliance_name}}</li>
            {% endfor %}
        </ul>
    </ul>
    {% endfor %}

<hr class="clear">

<h3>Territories</h3>

{% for tid, tinfo in map.war_systems.items %}
<h4>{{tinfo.territory.name}}</h4>
{% for region in tinfo.territory.regions %}
<span class="btn-my">{{region.name}}</span>
{% endfor %}
<br>
<svg id="t{{tid}}" viewBox="-50 -50 1100 1100" width="1000" height="1000" style="border: 1px solid #404040">

    {% for link in tinfo.links %}
    <line x1="{{link.from.sx|floatformat}}" y1="{{link.from.sz|floatformat}}" x2="{{link.to.sx|floatformat}}" y2="{{link.to.sz|floatformat}}" />
    {% endfor %}

    {% for sid, system in tinfo.systems.items %}
    <circle cx="{{system.sx|floatformat}}" cy="{{system.sz|floatformat}}" r="2" />
    <path id="s{{sid}}hub" transform="translate({{system.sx|floatformat}},{{system.sz|floatformat}})"/>
    <path id="s{{sid}}tcu" transform="translate({{system.sx|floatformat}},{{system.sz|floatformat}}) rotate(120, 0, 0)"/>
    <path id="s{{sid}}sta" transform="translate({{system.sx|floatformat}},{{system.sz|floatformat}}) rotate(240, 0, 0)"/>
    {% endfor %}

    {% for sid, system in tinfo.systems.items %}
    <text x="{{system.sx|floatformat}}" dx="10" y="{{system.sz|floatformat}}" dy="4">{{system.name}}</text>
    {% endfor %}
</svg>

{% endfor %}

{% endblock %}