{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<script src="{% static 'angular.min.js' %}"></script>
<script src="{% static 'angular-jquery-autocomplete.js' %}"></script>
<script src="{% static 'war.controller.js' %}"></script>


<h4><a href="{% url 'cwo:war_index' %}">Wars</a> / {{ war.name.value }}</h4>

<div class="row">
    <div class="col-md-6">
        <form class="form-inline" action="{% url 'cwo:war_update' war.instance.id %}" method="post">
            {% csrf_token %}
            {{ war.non_field_errors }}
            <div class="form-group">
                <label for="{{ war.name.id_for_label }}">Name: {{ war.name.errors }}</label>
                <input type="text" size=50 class="form-control" id="{{ war.name.id_for_label }}" name="{{ war.name.html_name }}" value="{{ war.name.value }}" />
            </div>
            <input type="submit" class="btn btn-default" value="Save"/>
        </form>
    </div>
    <div class="col-md-6 text-right">
        <a href="{% url 'cwo:war_delete' war.instance.id %}" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
    </div>
</div>

<hr/>

<div class="row" ng-app="warApp" ng-controller="WarCtrl" ng-init="init( {{war.instance.id}} )">

    <div class="col-md-12">
        <h3>War Sides</h3>
        <div class="col-md-12 form-inline">
            <input type="text" size=40 class="form-control" ng-model="newWarSide" placeholder="War side name">
            <button class="btn btn-default" ng-click="AddWarSide()">Add</button>
            <hr>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-condensed" ng-repeat="participant in war.participants">
                <tr>
                    <td class="col-md-3">{? participant.name ?}</td>
                    <td class="form-inline">
                        <input type="text" size=40 class="form-control" placeholder="Alliance name">
                        <input type="text" class="form-control" placeholder="Date 1">
                        <input type="text" class="form-control" placeholder="Date 2">
                        <button class="btn btn-default">Add</button>
                    </td>
                </tr>
            </table>
        </div>

        <h3>Territories</h3>
        <div class="col-md-12 form-inline">
            <input type="text" size=40 class="form-control" ng-model="newTerritory" placeholder="Territory">
            <button class="btn btn-default" ng-click="AddTerritory()">Add</button>
            <hr>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-condensed" ng-repeat="territory in war.territories">
                <tr>
                    <td class="col-md-3">{? territory.name ?}</td>
                    <td class="form-inline">
                        <input type="text" size=40 class="form-control" placeholder="Region name">
                        <button class="btn btn-default">Add</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

{% endblock %}