{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<script src="{% static 'angular.min.js' %}"></script>
<script src="{% static 'angular-jquery-autocomplete.js' %}"></script>
<script src="{% static 'war.controller.js' %}"></script>


<h4><a href="{% url 'cwo:war_index' %}">Wars</a> / {{ war.name.value }}</h4>

<div class="row">
    <div class="col-md-6">
        <form class="form-inline" action="{% url 'cwo:war_update' war.instance.id %}" method="post">
            {% csrf_token %}
            {{ war.non_field_errors }}
            <div class="form-group">
                <label for="{{ war.name.id_for_label }}">Name: {{ war.name.errors }}</label>
                <input type="text" size=50 class="form-control" id="{{ war.name.id_for_label }}" name="{{ war.name.html_name }}" value="{{ war.name.value }}" />
            </div>
            <input type="submit" class="btn btn-default" value="Save"/>
        </form>
    </div>
    <div class="col-md-6 text-right">
        <a href="{% url 'cwo:war_delete' war.instance.id %}" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
    </div>
</div>

<hr/>

<div class="row" ng-app="warApp" ng-controller="WarCtrl" ng-init="init( {{war.instance.id}} )">

    <div class="col-md-12">
        <h3>War Sides</h3>
        <div class="col-md-12 form-inline">
            <input type="text" size=40 class="form-control input-sm" ng-model="newWarSide" placeholder="War side name">
            <button class="btn btn-default btn-sm" ng-click="AddParticipant()">Add</button>
            <hr>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-condensed" ng-repeat="participant in war.participants">
                <tr>
                    <td class="col-md-3">
                        <span class="btn-my delete" ng-click="DeleteParticipant({{war.instance.id}},participant.id)">X</span>
                        {? participant.name ?}
                    </td>
                    <td class="form-inline">
                        <input type="text" size=40 class="form-control input-sm" placeholder="Alliance name"
                               autocomplete result-id="participant.newAllianceId" url="/wars/alliances">
                    </td>
                    <td><input type="text" class="form-control input-sm" placeholder="Date 1" ng-model="participant.newDate1"></td>
                    <td><input type="text" class="form-control input-sm" placeholder="Date 2" ng-model="participant.newDate2"></td>
                    <td><button class="btn btn-default btn-sm" ng-click="AddAlliance(participant)">Add</button></td>
                </tr>
                <tr ng-repeat="alliance in participant.alliances">
                    <td class="text-right"><span class="btn-my delete" ng-click="DeleteAlliance({{war.instance.id}},participant.id,alliance.id)">X</span></td>
                    <td>{? alliance.alliance_name ?}</td>
                    <td><input type="text" class="form-control input-sm" placeholder="Date 1" ng-model="alliance.date1"></td>
                    <td><input type="text" class="form-control input-sm" placeholder="Date 2" ng-model="alliance.date2"></td>
                    <td><span class="btn-my delete" ng-click="UpdateAlliance({{war.instance.id}},participant.id,alliance)">Update</span></td>
                </tr>
            </table>
        </div>

        <h3>Territories</h3>
        <div class="col-md-12 form-inline">
            <input type="text" size=40 class="form-control input-sm" ng-model="newTerritory" placeholder="Territory">
            <button class="btn btn-default btn-sm" ng-click="AddTerritory()">Add</button>
            <hr>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-condensed" ng-repeat="territory in war.territories">
                <tr>
                    <td class="col-md-3">
                        <span class="btn-my delete" ng-click="DeleteTerritory({{war.instance.id}},territory.id)">X</span>
                        {? territory.name ?}
                    </td>
                    <td class="form-inline">
                        <input type="text" size=40 class="form-control input-sm" placeholder="Region name"
                               autocomplete result-id="territory.newRegionId" url="/wars/regions">
                        <button class="btn btn-default btn-sm" ng-click="AddRegion(territory)">Add</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="btn-my" ng-repeat="region in territory.regions">
                            {? region.region_name ?}
                            <span class="delete" ng-click="DeleteRegion({{war.instance.id}},territory.id,region.id)">X</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

{% endblock %}