{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<script>
  $( function() {


      $( "#search" ).autocomplete({
          source: "/wars/alliances",
          minLength: 2,
          select: function( event, ui ) {
              console.debug(ui.item);
              console.debug('selected');
          }
      }).autocomplete("instance")._renderItem = function( ul, item ) {
          return $( "<li>" ).append( "<div>" + item.name + "</div>" ).appendTo( ul );
      };

  } );
</script>

<h4><a href="{% url 'cwo:war_index' %}">Wars</a> / {{ war.name.value }}</h4>

<div class="row">
    <div class="col-md-6">
        <form action="{% url 'cwo:war_update' war.instance.id %}" method="post">
            {% csrf_token %}
            {{ war.non_field_errors }}
            <div class="form-group">
                <label for="{{ war.name.id_for_label }}">Name: {{ war.name.errors }}</label>
                <input type="text" class="form-control" id="{{ war.name.id_for_label }}" name="{{ war.name.html_name }}" value="{{ war.name.value }}" />
            </div>
            <input type="submit" class="btn btn-default" value="Save"/>
        </form>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-2 min-height border">
        <input type="text" class="form-control" id="search" placeholder="Alliance name">
    </div>

    <div class="col-md-10 min-height border">
        <div class="col-md-6">
            <input type="text" class="form-control" id="war-side" placeholder="War side name">
        </div>
        <div class="col-md-2">
            <button class="btn btn-default">Add</button>
        </div>
    </div>
</div>

{% endblock %}