body{
    font-size: 12px;
}

td{
    font-size: 12px;
}

.border {
    border: 1px solid #808080;
    padding: 3px;
}

.min-height{
    min-height: 400px;
}

.errorlist li{
  color: #ff0000;
}

.btn-my {
  margin-top: 2px;
  margin-right: 10px;
  color: #FFFFFF;
  background: #65B0BC;
  padding: 4px;
  border: solid 1px #000000;
  border-radius: 5px;
  display: inline-block;
}

.delete{
  cursor: pointer;
  color: #25606C;
}

#map .system-name{
  font-size: 10px;
}

.form-compact {
  font-size: 0.8em;
}

.form-compact .form-control {
  padding: 1px 2px;
  height: 24px;
  font-size:1em;
}
.form-compact label {
  margin-bottom: 1px;
}
.form-compact .form-group
{
  margin-bottom:0px;
}

svg {
  margin-top: 5px;
}

svg text{
  fill: #404040;
  fill-opacity: 0.5;
}

svg line{
  stroke: #CCCCCC;
  stroke-width: 1;
}

svg circle{
  stroke: #808080;
  stroke-width: 1;
  fill: #CCCCCC;
}

ul.participant{
  float: left;
}

.clear{
  clear: both;
}