body{
    font-size: 12px;
}

td{
    font-size: 12px;
}

.border {
    border: 1px solid #808080;
    padding: 3px;
}

.min-height{
    min-height: 400px;
}

.errorlist li{
  color: #ff0000;
}

.btn-my {
  margin-right: 10px;
  color: #FFFFFF;
  background: #65B0BC;
  padding: 4px;
  border: solid 1px #000000;
  border-radius: 5px;
}

.delete{
  cursor: pointer;
  color: #25606C;
}
